body{
	font-family: "微软雅黑";
	margin: 0;
	padding: 0;
	background: #FfFfFf;
}
span.right{
	float:right;
	font-size: 16px;
	margin-right: 20px;
	color: #888;
}
a {
	text-decoration: none;
	color: #888;
	transition: color ease-in 0.3s;
}	
a:hover {
	color: black;
}
	
span.right i{
	padding-top: 4px;
	font-size: 16px;
}
.top-wrap {
	position: absolute;
	top: 0;
	left: 150px;
	right: 0;
	bottom: 300px;
	overflow-y: hidden; 
}
.left-wrap{
	position: absolute;
	width: 150px;
	height: 100%;
	z-index: 10;
	border-right: 2px solid #666;
}
.center-wrap{
	position: absolute;
	left: 0;
	right: 500px;
	height: 100%;
	overflow-y: auto; 
}
.bottom-wrap{
	position: absolute;
	left: 150px;
	right: 0;
	bottom: 0;
	/* top: 500px; */
	height: 300px;
	overflow-y: hidden; 
}
.right-wrap{
	position: absolute;
	width: 500px;
	height: 100%;
	right: 0;
	border-left: 2px solid #666;
	overflow-x: hidden; 
	overflow-y: auto; 
}
.timeline{
	margin-left: 10px;
}
.list{
	list-style: none;
	margin: 0;
	padding: 0;
}	
.list li{
	border-bottom: 1px solid #EEE;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	height: 30px;
	padding: 5px 5px 5px 5px;
	position: relative;
	overflow: hidden;
	color: #666;
	font-size: 0.8rem;
}	
.pane-instruction{
	width: 500px;
}
.pane-reservation{
	width: 600px;
}
.pane-registers{
	width: 150px;
	overflow-x: hidden;
	overflow-y: auto;
	
}
.pane-memory{
	position: absolute;
	top: 30px;
	bottom: 0;
	overflow-x: hidden;
	overflow-y: auto;
}
.station .parameter{
	margin-left: 10px;
	display: inline-block;
	padding-left: 0;
	padding-right: 0;
	margin: 0px;
}
li.title{
	background: #444;
	font-weight: bold;
	color: white;
}
li:nth-child(even){
	background: #EDF9FF;
}
li span{
	border-right: 1px solid #ccc;
	padding-right: 5px;
	margin: 0px;
	display: inline-block;
	height: 28px;
	vertical-align: top;
}
.station .p1,
.station .p2,
.station .p3{
	width: 45px;
	display: inline-block;
	text-align: center;
}
.station .name{
	width: 50px;
	display: inline-block;
	text-align: center;
}
.station .time-remaining{
	width: 60px;
	display: inline-block;
	text-align: center;
}
.station .operation{
	width: 60px;
	display: inline-block;
	text-align: center;
}
.station .instruction-number{
	width: 60px;
	display: inline-block;
	text-align: center;
}
.instruction .inst-linenum{
	width: 30px;
	display: inline-block;
	text-align: right;
	margin-right: 10px;
}
.instruction .instruction-detail{
	width: 120px;
	display: inline-block;
}
.instruction .issue-time,
.instruction .exec-time,
.instruction .writeback-time {
	width: 60px;
	display: inline-block;
}
.station .state{
	width: 40px;
	display: inline-block;
	text-align: center;
}
.insturction .inst-linenum{
	width: 40px;
	display: inline-block;
	text-align: center;
}

.explain{
	font-weight: bold;
	color: #666;
	font-size: 0.8rem;
	padding: 3px 0;
	text-align: center;
	border: none;
	border-bottom: 1px solid;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #E6E6E6), color-stop(1, #DDD));
	background: -webkit-linear-gradient(top, #E6E6E6 0%, #DDD 100%);
	background: linear-gradient(top, #E6E6E6 0%, #DDD 100%);
	-webkit-box-shadow: inset 2px 2px 2px #AAA;
	box-shadow: inset 0 1px 0 #EEE;
	border-color: #CCC;
	text-shadow: 0 1px 0 #F3F3F3;
}	
.pane-clock{
	padding: 10px;
	font-size: 2em;
}
.memory{
	border: 1px solid #CCC;
	width: 50px;
	height: 40px;
	margin: 5px;
	padding: 5px;
	float:left;
	border-radius: 5px;
	background-color: #F7FCFF;
}
.memory .addr{
	color: #CCC;
	display: block;
	width: 50px;
	text-align: center;
}
.memory .value{
	color: #444;
	width: 50px;
	display: block;
	text-align: center;
}
.register .name{
	padding-left: 10px;
	width: 20px;
	display: inline-block;
}
.register .value{
	padding-left: 10px;
	width: 80px;
	text-align: right;
	display: inline-block;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	font-family: "consolas";
	border: none;
}
.registers .type-name{
	width: 100%;
	text-align: center;
	color: #A44;
}
#dialog textarea{
	width: 500px;
	height: 350px;
	resize: none;
}
