<!DOCTYPE html>
<html lang="en">
<body>
{% csrf_token %}
<form action="/input" method="post">
    姓名:<br>
    <input type="text" name="name" value = {{ a }}><br>
    性别:<br>
    <select name="sex" value = {{ b }}>
  <option value ="男">男</option>
  <option value ="女">女</option>
</select><br>
    日期:<br>
    <input name="date" type="date" value={{ c }}/>
    <br>
    电子邮箱:<br>
    <input type="text" name="email" value = {{ d }}><br>
	<input type="submit">
</form><br/>
{{ data }}
</body>
</html>