[submodule "大三上/人工神经网络/hw/2022/ann_assignments"]
	path = 大三上/人工神经网络/hw/2022/ann_assignments
	url = https://github.com/Btlmd/ann_assignments
[submodule "大二下/人工智能导论/exam/IAI_Gen"]
	path = 大二下/人工智能导论/exam/IAI_Gen
	url = https://github.com/Btlmd/IAI_Gen
[submodule "大三上/编译原理/hw/2022_PA"]
	path = 大三上/编译原理/hw/2022_PA
	url = git@github.com:Btlmd/minidecaf-compiler.git
