.search-layer1 {
    position: relative;
    text-align: center;
    vertical-align: middle;
    margin-top: 200px;
}

.search-logo {
    width: 150px;
    height: 150px;
    horiz-align: center;
    padding-bottom: 10px;
    padding-right: 80px;
    left: -95px;
}

.search-input {
    width: 480px;
    margin: 10px;
    height: 40px;
    padding-left: 5px;
    padding-right: 30px;
    font-family: arial;
    font-size: 12pt;
    color: #444;
}

.search-button {
    -webkit-appearance: none;
    font-family: arial;
    color: #444;
    background-color: #f5f5f5;
    border: 1px #e4e4e4;
    font-weight: bold;
    margin: 15px 15px;
    font-size: 9pt;
    padding: 13px;
}

.search-speech {
    /*background-color:white;*/
    height: 30px;
    width: auto;
    padding-top:5px;
    padding-bottom:5px;
    vertical-align: middle;
}