#Layer2 {
    position:absolute;
    left:29px;
    top:80px;
    width:648px;
    height:585px;
    z-index:2;
}

.show-layer1 {
    position: fixed;
    padding: 0;
    margin: 0;
    width: 100%;
    z-index: 301;
    top: -1px;
    height:60px;
    /*min-width: 1000px;*/
    background: #fff;
    border-bottom: 1px solid #ebebeb;
    padding-left: 0px;
    padding-top: 6px;
}


.show-logo {
    width: 60px;
    height: 48px;
    vertical-align: middle;
    padding-right: 2px;
}

.show-input {
    width: 440px;
    margin: 10px;
    margin-left: 0px;
    height: 36px;
    font-family: arial;
    padding-left: 5px;
    font-size: 12pt;
    color: #444;
    padding-right: 30px;
}

.show-button {
    -webkit-appearance: none;
    font-family: arial;
    color: #444;
    background-color: #f5f5f5;
    border: 1px #e4e4e4;
    font-weight: bold;
    margin: 5px 10px;
    font-size: 9pt;
    padding: 13px;
}

.show-result {
    width: 540px;
    padding-left: 135px;
    padding-top: 5px;
}

.show-recommendation {
    width: 300px;
    padding-left: 150px;
    padding-top: 100px;
}

.font-recommendation {
    font-size: 15px;
    color: -webkit-link;
}

.wrap {
    display: -webkit-box;
}

.num-and-time {
    font-size: 13px;
    color: #999;
}

.show-spell {
    font-size: 18px;
    color: #222;
}

.show-line {
    margin: 0 -8px 16px -8px;background-color: rgba(0,0,0,0.07);border-width: 0;color: rgba(0,0,0,0.07);
    height: 1px;margin-top: 22px;display: block; -webkit-margin-before: 0.5em;-webkit-margin-after: 0.5em;-webkit-margin-start: auto;
    -webkit-margin-end: auto;border-style: inset;
}

.show-title {
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    color: -webkit-link;
    text-decoration: underline;
    cursor: auto;
}

.show-content {
    margin: 0;padding: 0;list-style: none;font-size: 13px;color: #666;padding-bottom: 1px;
}

.show-url {
    text-decoration: none; color: #008000;font-size: 13px;
}

.show-table {
    left: 0px; width: 594px;padding-top: 5px;
}

.show-page {
    padding-left: 140px;padding-bottom: 35px;
}

.show-speech {
    height: 30px;
    width: auto;
    padding-top: 7px;
    padding-bottom: 7px;
    vertical-align: middle;
}

.show-iframe {
    position:fixed;
    top:50px;
    left:820px;
    z-index: 2;
}