.search_suggest {
    position: relative;
    text-align: left;
	z-index:999;
    margin-left: auto;
    margin-right: auto;
	/*left:342px;
	top:-16px;*/
    left: -64px;
    top: -16px;
	width:480px;
	border:1px solid #DDDDDD;
	display:none;
}

.search_suggest li{
    margin: 0px;
    padding: 0px;
	height:24px;
	overflow:hidden;
	padding-left:3px;
	line-height:24px;
	background:#FFFFFF;
	cursor:default;
}

.search_suggest li.hover{
	background:#DDDDDD;
}