.highlighted {
    color: red;
}

.searchbar {
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-top: 40px;
    margin-bottom: 30px;
}

.item-title {
    font-size: large
}

.item {
    margin-bottom: 30px;
}

.date {
    float: right;
    font-size: small;
    color: grey;
}

.pagination-div {
    margin-top: 40px;
    margin-bottom: 100px;
}